<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Afvink 4</title>
    </head>
    <body>
        <h2>Vul hieronder een sequentie in om te kijken of het DNA, RNA, eiwit
            of geen van drieën is:</h2>
        <form action="{{ url_for('afvink4') }}" method="post">
            <input type = "text" name= "sequentie" />
            <input type = "submit" value="Check" >
        </form>
        <p>
            Als u DNA heeft ingevoerd kan het lang duren voordat de resultaten
            zijn geladen. De eiwitsequentie wordt geblast voor de afkomst te
            bepalen.
        </p>
        <hr>
        {{ sequentie }}<br>
        {{ resultatentext1 }}<br>
        {{ resultatentext2 }}<br>
        {{ resultatentext3 }}<br>
        {{ resultatentext4 }}

    </body>
</html>